<!DOCTYPE HTML>
<html>
<head>
    <title>Sahil & Deepak Image Manipulator</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
    <style>
   
    /* Additional CSS */
    .developer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .developer-photo {
        flex: 0 0 calc(50% - 20px); 
        max-width: calc(50% - 20px); 
        margin: 10px;
    }

    .developer-photo img {
        width: 100%;
        height: auto;
    }

    .developer-text {
        flex: 0 0 100%;
        margin-top: 20px;
        text-align: center;
    }

    .developer-photo:nth-child(even) {
        order: 1;
    }

    .developer-photo:nth-child(odd) {
        order: 2;
    }
</style>

   
</head>
<body class="landing is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="home.html">Sahil & Deepak Image Manipulator</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="home.html">Home</a></li>
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">Log In</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>Sahil & Deepak Image Manipulator</h2>
            <p>Crafting Visual Masterpieces<br />
                Explore Our Innovative Image Editing Platform<br />
            </p>
            <ul class="actions special">
                <form method="POST" enctype="multipart/form-data">
                    <div class="input-group" style="font-size: 0.9rem">
                        <div class="input-group-prepend">
                        </div>
                        <div class="file">
                            <input type="file" class="button fit" id="customFile" name="file">
                            <button type="submit" name="submit_button" value="upload_image" class="button primary" style="font-size: 0.9rem"><b>Upload</b></button>

                        </div>
                    </div>

                </form>
            </ul>
        </div>
        <a href="#one" class="more scrolly">Learn More</a>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>Welcome to Sahil & Deepak Image Manipulator</h2>
                <p>Step into the world of creative possibilities with Sahil & Deepak Image Manipulator. Our platform is your gateway to seamless image editing, crafted by passionate minds. Whether you're a novice or a seasoned pro, our intuitive tools cater to all skill levels. Join our community and transform your ideas into captivating visuals with Sahil & Deepak Image Manipulator.</p>
            </header>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt style2">
        <section class="spotlight">
            <div class="image"><img src="static/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Edit your photo in seconds with <br/>Sahil & Deepak free photo Manup                ulator</h2>
                    <br/>
                    <h3>Upload instantly</h3>
                    <p>JPEG/JPG and PNG formats are supported.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="static/images/pic02.jpg" alt="" /></div><div class="content">
                <h2>Beautiful effects, filters, and adjustments</h2>
                    <h3>Polish your pictures</h3>
                    <p>Rotate your images with precision and crop them to any aspect ratio.</p>
                    <p>Choose from a range of stunning, adjustable filters for a style that sets your photo apart. Try the trendiest looks, add shadows, or blur the image to instantly add depth to your image.</p>
                    <h3>Take control of your photos</h3>
                    <p>Perfectly adjust contrast, brightness, and color using simple adjustment sliders. Need to make precise edits? Crop to standard ratios or use Smart Crop for the ideal photo composition.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="static/images/pic03.jpg" alt="" /></div><div class="content">
                <h2>Download Easily Your Manipulated Image</h2>
                </div>
            </section>
        </section>

        <!-- CTA -->
        <section id="cta" class="wrapper style6">
            <div class="inner">
                <div class="developer-container">
                    <div class="developer-photo">
                        <img src="static/images/deepak_photo.jpg" alt="Deepak" />
                        <ul class="icons">
                            <li><a href="https://github.com/Deepak-kumar2004" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                            <li><a href="https://www.linkedin.com/in/deepak-kumar-0324b2254/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
                            <li><a href="mailto:deepak.kumar176362@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                    </div>
                    <div class="developer-text">
                        <header>
                            <h2>Meet the Developers: Deepak & Sahil</h2>
                            <p>Deepak and Sahil are ambitious first-year B.Tech Computer Science students at Sitare University, Lucknow. Their passion for technology and creativity led them to develop Sahil & Deepak Image Manipulator. With their innovative approach and dedication, they're shaping the future of image editing for users of all skill levels.</p>
                        </header>
                    </div>
                    <div class="developer-photo">
                        <img src="static/images/sahil_photo.jpg" alt="Sahil" />
                        <ul class="icons">
                            <li><a href="https://github.com/Sahilkumar1272" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                            <li><a href="https://www.linkedin.com/in/sahil-kumar-47837b2a1/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
                            <li><a href="mailto:sahilrauniyar2005@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2024 All Rights Reserved</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.scrollex.min.js"></script>
    <script src="static/assets/js/jquery.scrolly.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>

</body>
</html>

